.App{
  max-width: 500px;
  margin: auto;
  margin-top: 10px;
}

.header{
  text-align: center;
  font-size: 40px;
  color: white;
}
.header p{
  font-size: 20px;
}


.word{
  width: 5px;
  height: 50px;
}

.input{
  width: 70px;
  height: 70px;
  font-size: 70px;
  border: 1px solid gray;
  text-align: center;
}

.container{
  background-color: black;
  width: 480px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn{
  background-color: lightgreen;
}